<div class="main">
    <div class="content center-h-v ">
        <p>contenido</p>
    </div>
    <div class="chat ">
        <div class="chat-header">
            <div class="img-content">
                <img src="../assets/imagenes/logo-fz.jpg" class="img-avatar" alt="">
            </div>
            <p class="name-user">{{username}}</p>
        </div>
        <div class="chat-body">
            <div *ngFor="let message of mensajes">
                <ng-container *ngIf="message.isMy; else elseTemplate">
                    <div class="chat-sms-send ">
                        <p class="text-break">{{message.content}}
                        </p>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="chat-sms-recived">
                        <p class="text-break">{{message.content}}
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="chat-footer">
            <input type="text" class="input-send">
            <button class="btn-send">send</button>
        </div>
    </div>
</div>