<!-- <div class="main">

    <div class="content center-h-v ">
        <input type="text" [(ngModel)]="myId" placeholder="Escriba mi id" class="input-send">
        <input type="text" [(ngModel)]="forId" placeholder="Escriba para quien" class="input-send">
        <button class="btn-send" (click)="captureMessage()">send</button>
        <ul class="list-group">
            <li (click)="lookMessage()" class="list-group-item" *ngFor="let item of messages">
                {{item.from}}
            </li>
        </ul>
    </div>
    <div class="chat ">
        <div class="chat-header">
            <div class="img-content">
                <img src="../assets/imagenes/logo-fz.jpg" class="img-avatar" alt="">
            </div>
            <p class="name-user">{{username}}</p>
        </div>
        <div class="chat-body">
            <div *ngFor="let message of messages">
                <ng-container *ngIf="(myId == message.from); else elseTemplate">
                    <div class="chat-sms-send ">
                        <p class="text-break">{{message.content}}
                        </p>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="chat-sms-recived">
                        <p class="text-break">{{message.content}}
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="chat-footer">
            <input type="text" [(ngModel)]="message" class="input-send">
            <button class="btn-send" (click)="sendMessage()">send</button>
        </div>
    </div>
</div> -->
<!-- <div> -->
<div *ngIf="currentChat">
    <div class="card vh-100 rounded-0">
        <div class="card-header">{{currentChat.from}}</div>
        <div class="card-body chat-body">
            <div class="col-8 m-auto">
                <img src="/assets/imagenes/logo-fz.jpg" class="w-100 rounded-circle" alt="">
            </div>
            <div *ngFor="let message of messages">
                <ng-container *ngIf="message.from == myId; else elseTemplate">
                    <div class="chat-sms-send ">
                        <p class="text-break">{{message.content}}
                        </p>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="chat-sms-recived">
                        <p class="text-break">{{message.content}}
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="p-2 d-flex">
            <textarea [(ngModel)]="message" id="my-textarea" placeholder="Escribe su mensaje" class="form-control rounded pr-4" name="" rows="1"></textarea>
            <button type="button" class="btn btn-primary rounded-circle btn-sm"><i
                        class="fas fa-paper-plane" (click)="sendMessage()"></i></button>
        </div>
    </div>
</div>
<!-- </div> -->