<div class="h-100">
    <mat-card class="primary h-100 rounded-0 pb-0 pr-0 ">
        <!-- <mat-card-header *ngIf="messages" class="chat-header">{{messages[0]?.user}}</mat-card-header> -->
        <mat-card-content #chatbody id="chatbody" class="chat-body pr-1 position-relative">
            <div class="text-center h5 font-weight-bold sticky-top primary">
                <img src="use" alt="user-send">
                <div>{{messages[0]?.user}}</div>
                <span>
                <mat-icon color="warn">favorite</mat-icon>&nbsp;{{messages[0]?.precio}}</span>
            </div>
            <div #messages *ngFor="let message of messages">
                <ng-container *ngIf="message?.file; else elseTemplate">
                    <div class="m-2 text-center">
                        <img [src]="message.file" class="w-100 rounded" alt="">
                        <div class="h5 bg-white text-dark p-2 m-1 mt-2 rounded">{{message?.message}}</div>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <ng-container *ngIf="message.isMy; else elseTemplate">
                        <div class="chat-sms-send ">
                            <p class="text-break">{{message.message}}
                            </p>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <div class="chat-sms-recived">
                            <p class="text-break">{{message.message}}
                            </p>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </mat-card-content>
        <mat-card-footer class=" chat-footer position-relative d-flex">
            <textarea (keyup)="keyUpSms()" wrap="physical" [(ngModel)]="message" class="textarea-style" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3">
            </textarea>
            <button [disabled]='!btnIsValid' (click)="sendMessage()" class="btn-send primary" mat-mini-fab>
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
</div>
<!-- </div> -->